* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #84D1D0;
    display: flex;
}

#logo {
    max-width: 500px;
    margin-top: 10px;
}

#login {
    max-width: 90px;
    margin-top: 10px;
    margin-left: 150px;
}

#entrar {
    display: block;
    margin-left: 123px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
    padding-left: 400px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-color: #e2989f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: #f5717e;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    text-align: center;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.2); 
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #262626;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e2989f;
}

main {
    padding-bottom: 145px; 
    position: relative; 
}

main::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.main-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#toggle-form-button {
    display: block;
    margin: 0 auto 20px;
    background-color: #e2989f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#toggle-form-button:hover {
    background-color: #f5717e;
}

.novo-insumo {
    display: none;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.novo-insumo form {
    display: flex;
    flex-direction: column;
}

.novo-insumo label {
    margin-bottom: 5px;
}

.novo-insumo input, .novo-insumo button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.novo-insumo button {
    background-color: #e2989f;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.novo-insumo button:hover {
    background-color: #f5717e;
}

.insumo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
}

.insumo {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.insumo h2 {
    color: #333;
}

.footer {
    background-color: #84D1D0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
