* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #84D1D0;
    display: flex;
}

#logo {
    max-width: 500px;
    margin-top: 10px;
}

#login {
    max-width: 90px;
    margin-top: 10px;
    margin-left: 150px;
}

#entrar {
    display: block;
    margin-left: 123px;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
    padding-left: 400px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    background-color: #e2989f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: #f5717e;
}

h1{
    padding-top: 20px;
    padding-left: 50px;
}

h5{
    padding-left: 40px; 
    padding-bottom: 20px;
    font-weight: normal;
}


.video-container {
    position: relative;
    display: flex;
    align-items: center;
}

.button {
    position: absolute;
    padding: 10px 20px;
    background-color: #e2989f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 200px;
}

.button:hover {
    background-color: #f5717e;
}

#video1{
    padding-left: 250px;
}

.features {
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.features .container {
    display: flex;
    align-items: center; 
}

.feature {
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #dbdbdb; 
}

.feature h3 {
    color: #333;
}

.feature p {
    color: #666;
}

.fototext {
    display: flex;
    padding-bottom: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.left {
    margin-left: 200px;
}

.right {
    margin-left: 40px;
    margin-right: 150px;
}

.texto{
    margin-top: 20px;
    text-align: justify;
}

#foto {
    border: 2px solid #dbdbdb; 
}

.textphoto {
    position: relative;
}

.footer {
    background-color: #84D1D0;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
